a {
  text-decoration: none;
  color: #c58940;
  cursor: pointer;
}
input,
textarea {
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}
label {
  margin-bottom: 5px;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
}
