.container {
  background-color: #0d0f21;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pictureHome {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.pictureHome img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-card h1 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
  color: #050505;
}

.home-card p {
  margin-bottom: 30px;
  font-size: 18px;
  color: #333;
}

.home-card button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #5f8755;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.home-card button:hover {
  background-color: #000000;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
  }
  .pictureHome {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  .home-card h1 {
    font-size: 36px;
  }
  .home-card p {
    font-size: 16px;
  }
  .home-card button {
    width: 100%;
    font-size: 16px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    flex-wrap: wrap;
  }
  .wrapper {
    width: 80%;
  }
  .pictureHome {
    width: 80%;
    height: 300px;
    margin-bottom: 30px;
  }
  .home-card h1 {
    font-size: 42px;
  }
  .home-card p {
    font-size: 18px;
  }
  .home-card button {
    width: 45%;
    font-size: 18px;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    flex-wrap: nowrap;
  }
  .wrapper {
    width: 50%;
  }
  .pictureHome {
    width: 40%;
    height: 400px;
    margin-bottom: 40px;
  }
  .home-card h1 {
    font-size: 48px;
  }
  .home-card p {
    font-size: 20px;
  }
  .home-card button {
    width: 20%;
    font-size: 20px;
  }
}
